h2 {text-align: center; color: red;
	font-size: 45px; background-color: grey; 
	padding: 60px;
	border: 5px solid black;
	margin: 40px: black; 
	box-sizing: border-box;
}
 { text-align: center; 
	color: green;
 }
.button {padding: 16px 32px;
		border: none;
		color: white;
		margin: 4px 2px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		transition-duration: 0.4s;
		text-decoration: none;
		background-color: grey;S
		font-size: 40px;

	}
.button:hover {background-color:#e7e7e7;
}
.hero-text {text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 100px red;
		}
